.main {
    width: 100%;
    text-align: center;
    overflow-y: scroll;
}

.mainimg {
    width: 100%;
    height: auto;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.project-opened-title {
    font-size: clamp(1rem, 10vw, 5rem);
    font-weight: 600;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

p {
    width: 75%;
    margin: 30px auto;
    font-size: clamp(0.5rem, 10vw, 1.65rem);
}

p strong {
    font-size: clamp(0.75rem, 10vw, 1.65rem);
}

.contentforproject {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contentforproject img {
    width: 400px;
    height: 500px;
    flex-basis: 40%;
    margin: 20px 20px;
    object-fit: cover;
    border: 3px solid white;
}

.svejar {
    margin: 20px 20px;
}

.tvc {
    margin: 20px 20px;
    border: 3px solid white;
}



@media(max-width: 1440px) {
    .contentforproject {
        display: inline-block;
    }
    .contentforproject img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0;
        margin-top: 20px;
        border: none;
    }

    .svejar, .tvc {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0;
        margin-top: 20px;
    }
}